@import "compass/css3/border-radius";
@import "compass";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "susy";

$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters
$light-blue: #00deef;
$dark-grey: #555;

@import "mixins";

.container {
  // page acts as a container for our grid.
  @include container;
}

.io {
  font-weight: 100;
}

h2 {
  @include adjust-font-size-to($base-font-size * 1.5, $lines: 1);
  color: $light-blue;
}

.btn {
  font-family: $header-font-family;
  @include trailer(1);
}

label {
  color: $dark-grey;
  font-family: $header-font-family;
  font-weight: 700;
}

img.full {
  width: 100%;
  @include trailer(2);
}

#ident {
  @include trailer(0);
  a {
    text-decoration: none;
  }
}

.guttered {
  @include span-columns(12 omega, 12);
  @include at-breakpoint(40em 12) {
    @include span-columns(6, 12);
    @include pre(3);
  }
}

.thirds {
  @include span-columns(12 omega, 12);
  @include at-breakpoint(40em 12) {
    .third {
      @include span-columns(4, 12);
      &:nth-child(3) {
        @include omega();
      }
    }
  }
}

.creation, #decoder {
  background-color: #ffd;
  @include padding-leader(1);
  @include padding-trailer(1);
}

#cryptographic {
  @include trailer(0);
}

.r {
  @include trailer(1);
}

#options {
  @include leader(1);
  text-align: center;
}

#create, #send {
  @include trailer(2);
}

section {
  @include span-columns(12 omega, 12);
  @include trailer(2);
}

.hero {
  @include leader(2);
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    @include trailer(2);
  }
}

#display {
  background-color: #eee;
  @include padding-leader(1);
  @include padding-trailer(1);
}

#credits {
  @include trailer(16);
}

#how_to_decode {
  @include leader(2);
}

@import "buttons";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

