%section#ident
  .hero

    %h1<
      %img{:src=>"/images/cryptographics-logo-512.png", :width=>"64", :height=>"64"}
      %span.logo> Cryptographics
      %span.io> .io
    %h2
      Hide information inside a graphic

      
  .guttered
    %p
      Take a secret piece of text. Encrypt it with a password. Turn the result into a graphic that looks like this:
    .demonstration
      .demonstration_inner
        %img{:src=>"/images/cryptographics-cryptographics.png", :width=>960, :height=>1200, :alt=>"This is the phrase 'cryptographs.io' encoded without a password"}
    %p
      Using cryptographics you can hide a secret in plain sight so that only someone with the password can
      %a{:href=>"/decode"} decode 
      it. Print out the images you make with this tool and put them on the wall of your home, laser-cut them, send access credentials using a postcard, wear your credit card details on a t-shirt and dare your friends to crack them, there's lots that you can do with this. You could turn a secret into anything you want, such as…

  .examples
    .thirds
      .third
        %h3
          A crypto-quilt
        %p
          %a{:href=>"/quilt"}
            %img{:src=>"/images/quilt-small.jpg", :alt=>"A cryptographic quilt", :width=>"480", :height=>"320"}

      .third
        %h3
          A laser-cut art object
        %p
          %a{:href=>"/object"}
            %img{:src=>"/images/object-small.jpg", :alt=>"A cryptographic art object", :width=>"480", :height=>"320"}
      .third
        %h3
          A secret t-shirt
        %p
          %a{:href=>"/pin"}
            %img{:src=>"/images/tshirt-small.jpg", :alt=>"A cryptographic tshirt", :width=>"480", :height=>"320"}

%section#cryptographic

  #results
    #display
    #options.thirds
      .third
        %p.centered
          %input.color-pick{:type=>"color", :"data-color"=>0}
          %input.color-pick{:type=>"color", :"data-color"=>1}
          %input.color-pick{:type=>"color", :"data-color"=>2}
          %input.color-pick{:type=>"color", :"data-color"=>3}
      .third
        %p.centered
      .third
        #download
          %form#download-it{:action=>"/download", :method => "post"}
            %p
              %button.btn.btn--primary#save{:type=>"submit"} Download this image
        %p.hint
          Modern desktop browsers only

%section#creating.creation
  .full
    %h2.centered
      Design your own cryptographic
  .guttered
    .r
      %label{:for=>"secret"} What's the secret you want to encrypt into an image?
      %textarea#secret{:name=>"secret", :placeholder=>"A very important thing that you want to keep secret"} A very important thing that you want to keep secret
      %p.hint
        Nothing typed in this box is recorded because the encryption happens locally in your browser.
    .r
      %label{:for=>"password"} What will be the password for your image?
      %input#password{:type=>"text", :name=>"password", :value=> "A strong password", :placeholder => "A password of your choice"}
      %p.hint
        Leave this blank to generate an image without encryption.
    .r
      %p
        %button.btn.btn--primary#generate{:type=>"submit"} Generate your cryptographic image
      %p.hint
        Keep your password safe — it's not stored by this service


- if false
  %section#sending
    .guttered
      %form#send-it{:action=>"/email", :method=>"post", :enctype=>"multipart/form-data"}
        %input.svg{:name=>"svg", :type=>"hidden", :value=>""}
        %h2
          Email this image
        %input#email{:name=>"email", :type=>"email", :placeholder=>"you@example.com"}
        %p
          %button.btn.btn--primary#send{:type=>"submit"} Send the image
        %p
          To do this, the image is sent back to the server. It does not include the secret or password and does not log the image anywhere.

%section#about
  .guttered
    %h2
      About this project

    %p
      Cryptographics is a two-day hack collaboration between designer-technologist Stef Lewandowski and contemporary artist Elizabeth Barile-Page. 
         
    %p
      It is one of the 25 hacks that were developed over a weekend at Digital Sizzle's Second Arthackathon #sizzle9; held at South Place Hotel. The brief was to use any data you want to create work of both technical and artistic merit. Using private information and intimate secrets Cryptographics brought together cutting edge encryption technology with craft, design and the hand made. The result is a series of objects all made for displaying sensitive information in public.
    %p
      This is a two-day hack project coded and designed by
      %a{:href=>"http://twitter.com/stef"} Stef Lewandowski
      in collaboration with artist and photographer
      = succeed(".") do
        %a{:href=>"http://twitter.com/lizbarilepage"} Elizabeth Barile-Page
    %p
      This was one of the ~25 hacks that were made over a weekend at Digital Sizzle's
      Arthack
      = succeed(",") do
        %a{:href=>"http://thedigitalsizzle.com/"}="#sizzle9"
      held at South Place Hotel. The brief was to collaborate around using data in the creation of artworks.
%section#why
  .guttered
    %h2
      But why?
    %p
      There's a growing interest in security of information, and privacy around personal data. Heightened by the recent revelations about governmental access and legal processes around what we assume is for our eyes only. 
         
    %p
      By encoding information into a physical object, you take it offline. You have more control of the information it contains. You can also use it in interesting ways - perhaps a treasure hunt involving encrypted images placed in different locations, a message to future generations encoded in an object, for sending information offline to someone, or just making a statement about how passwords and security are now a part of everyday life. 
         
    %p
      As an example, say you encode your 
      %a{:href=>"http://1password.com"} 1Password 
      master password, a password which unlocks all of your other passwords, into a graphic and turn it into a poster that you hang in your home or office. It would look like a print from IKEA, but the password that you use to encrypt that graphic could be left in a will for your family. 

    %p
      You wouldn't leave your actual master password with your lawyer in case they were hacked. Cryptographics adds an additional level of complexity. It requires a two-factor authentication - the object and the password  – to reveal the hidden information. Allowing the safe access to your digital estate.         
                     
    %p
      There are many other practical uses for this system. Check this site again for updates of new applications and ideas. And if you have any, please get in touch
%section#credits
  .guttered
    %h2
      Credits
    %p
      %img{:src=>"/images/stef-and-liz-3.jpg", :alt=>"Stef and Elizabth"}
    %p
      Made by
      = succeed(",") do
        %a{:href=>"http://twitter.com/stef"} @stef
      %a{:href=>"http://lizbarile.com"}
        Elizabeth
      and a little help from their friends at
      = succeed(".") do
        %a{:href=>"https://www.hackerleague.org/hackathons/digital-sizzle-9-art-hack"}
          Digital Sizzle 9