%section#ident
  .hero

    %h1
      %img{:src=>"/images/cryptographics-logo-512.png", :width=>"64", :height=>"64"}
      Cryptographics
    %h2
      Hide information inside a graphic

%section#cryptographic
  #display
  #options.centered
    %p
      %a{:href=>"#download"} Download

%section#hero
  .hero.guttered
    .intro
      %p
        Take a piece of secret information, encrypt it with a password and turn it into an image that you can print out, turn into an artwork, make into a quilt, or put anywhere else you can put a two dimensional design.
      %p
        The image holds an encrypted version of whatever secret you choose to put into it, and can be decoded by anyone who you give the password to.
      %p
        This all happens without sending your password or secret over the internet.

%section#creating.creation
  .guttered
    %h2
      Create a cryptographic
    %label{:for=>"secret"} What's your secret?
    %textarea#secret{:name=>"secret"} A very important thing that you want to keep secret
    %label{:for=>"password"} What will be the password for your image?
    %input#password{:type=>"text", :name=>"password", :value=> "A strong password"}
    %button#generate{:type=>"submit"} Generate a cryptographic
    %p
      No information is sent anywhere – this all happens locally in your browser.
%section#download
  .guttered
    %form#download-it{:action=>"/download", :method => "post"}
      %h2
        Download this image (desktop only)
      %button#save{:type=>"submit"} Download an SVG
      %p
        The image is generated locally, so this does not send any data via the web.

- if false
  %section#sending
    .guttered
      %form#send-it{:action=>"/email", :method=>"post", :enctype=>"multipart/form-data"}
        %input.svg{:name=>"svg", :type=>"hidden", :value=>""}
        %h2
          Email this image
        %input#email{:name=>"email", :type=>"email", :placeholder=>"you@example.com"}
        %button#send{:type=>"submit"} Send the image
        %p
          To do this, the image is sent back to the server. It does not include the secret or password and does not log the image anywhere.
%section
%section#credits
  .guttered
    %p
      Made by
      = succeed(",") do
        %a{:href=>"http://twitter.com/stef"} @stef
      %a{:href=>"http://lizbarile.com"}
        Liz
      and friends at
      = succeed(".") do
        %a{:href=>"https://www.hackerleague.org/hackathons/digital-sizzle-9-art-hack"}
          Digital Sizzle 9