%section#ident
  .hero

    %h1<
      %a{:href=>"/"}<
        %img{:src=>"/images/cryptographics-logo-512.png", :width=>"64", :height=>"64"}
        %span.logo> Cryptographics
        %span.io> .io
    %h2
      Hide information inside a graphic

%section
  %img.full{:src=>"/images/cryptographics-dark.jpg"}
  .guttered
    %h2
      A cryptographic art object
    %p
      An art object for the home that contains personal information. Encoded in this object is a mystery. By making an object with some kind of password around it, you could make games, do commerce, or leave information hidden in a public place.
    %p
      %a{:href=>"/"} Read more