%section#ident
  .hero

    %h1<
      %img{:src=>"/images/cryptographics-logo-512.png", :width=>"64", :height=>"64"}
      %span.logo> Cryptographics
      %span.io> .io
    %h2
      Hide information inside a graphic

%section
  %img.full{:src=>"/images/cryptographic-pin.png"}
  .guttered
    %h2
      %a{:href=>"http://twitter.com/stef"} @stef's
      bank card PIN as an image
    %p
      Take your bank card PIN, one of your most private things, and encode it into an image. Then print it as a poster, frame it and hang it in a public place.

    %p
      %a{:href=>"/"} Read more