%section#ident
  .hero

    %h1<
      %a{:href=>"/"}<
        %img{:src=>"/images/cryptographics-logo-512.png", :width=>"64", :height=>"64"}
        %span.logo> Cryptographics
        %span.io> .io
    %h2
      Hide information inside a graphic

%section
  %img.full{:src=>"/images/cryptographics-quilt.jpg"}
  .guttered
    %h2
      A cryptographic quilt
    %p
      A quilt that's also a secret. Encoded in this quilt is a very personal secret that not even Liz's husband knows.

    %p
      As an heirloom, if Liz were to leave the password for the quilt with her lawyer, should she die, the password could be given to her relatives. At that point, with password and the quilt in hand, it would be possible to decode the secret.
    %p
      %a{:href=>"/"} Read more